includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 6
  paths:
    - app
    - app/Domain
    - app/Services
    - app/Nova
    - database/seeders
  excludePaths:
    - database/migrations/*
    - storage/*
    - bootstrap/cache/*
    - vendor/*
  tmpDir: storage/framework/cache/phpstan
  
  checkModelProperties: true
  reportUnmatchedIgnoredErrors: true
  inferPrivatePropertyTypeFromConstructor: true

  ignoreErrors:
    - identifier: missingType.iterableValue
    -
      message: '#Unable to resolve the template type T(Key|Value) in call to function collect#'
      path: app/Services/LanguageApp/QuestionValidator.php

  bootstrapFiles:
    - vendor/autoload.php
    - bootstrap/app.php
